.mtop25{
	margin-top: 25px;
}
.pointer{
	cursor: pointer;
}
.error{
	color:red;
	font-style:italic;
	font-size: 10px;
}
label.error { float: none; font-weight: 400;color: red; font-style:italic; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px }